*{
    padding: 0;
    align-items: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p{
    font-size: 3rem;
}

.js{
    color: yellow;
}

#typedText{
    color: #20c20e;
}

#cursor{
    background-color: #20c20e;
}