*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.right-side{
    /* height: 100%; */
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.right-side h3{
    background-color: black;
    color: white;
    padding: 10px;
}

.left-side h3{
    background-color: black;
    color: white;
    padding: 10px;
}


/*Javascript*/
.added{
    position: absolute;
    bottom: 35px;
    right: 20px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 50px;
}

